@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600;900&family=Source+Sans+Pro:wght@200;400;700&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
}

.infinite-scroll-component__outerdiv{
  display: flex;
  width: 100%;
}
